<p id="notice"><%= notice %></p>

<h1>Listing Movies Ive Watcheds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies_ive_watcheds.each do |movies_ive_watched| %>
      <tr>
        <td><%= movies_ive_watched.title %></td>
        <td><%= movies_ive_watched.director %></td>
        <td><%= movies_ive_watched.date %></td>
        <td><%= link_to 'Show', movies_ive_watched %></td>
        <td><%= link_to 'Edit', edit_movies_ive_watched_path(movies_ive_watched) %></td>
        <td><%= link_to 'Destroy', movies_ive_watched, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movies ive watched', new_movies_ive_watched_path %>
